{
  "env": {
    "browser": true,
    "jest/globals": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "react"
  ]
}
